<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About</title>


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Lionel Messi</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">Home</a>
				<a class="nav-item nav-link" href="/works">Palmarés</a>
				<a class="nav-item nav-link" href="/about">About</a>
                <a class="nav-item nav-link" href="/fotos">Fotos</a>
			</div>
		</div>
	</nav>
	<h1>Leo</h1>
	<p class="parrafo">Lionel Andrés Messi Cuccittini (Rosario, Santa Fe; 24 de junio de 1987), conocido como Leo Messi, es un futbolista argentino que juega como delantero o centrocampista en el Paris Saint-Germain de la Ligue 1 de Francia. Es internacional con la selección de Argentina, equipo del que es capitán y máximo goleador histórico.9​

Considerado con frecuencia el mejor jugador del mundo y uno de los mejores de todos los tiempos,10​ es el único futbolista en la historia que ha ganado, entre otras distinciones, seis veces el Balón de Oro, los cuatro primeros de forma consecutiva;11​ además de recibir seis Botas de Oro,12​ un FIFA World Player,13​ y un The Best FIFA.14​ En 2020, se convirtió en el primer futbolista en recibir un premio Laureus,15​ además de ser incluido en el Dream Team del Balón de Oro.

Jugador histórico del Fútbol Club Barcelona, al que estuvo ligado veinte años,16​ ha ganado 35 títulos con el club, entre ellos, diez de La Liga y cuatro de la Liga de Campeones de la UEFA, así como siete títulos de la Copa del Rey.17​18​19​

Goleador prolífico,20​ ostenta, entre otros, los récords por más goles en una temporada,21​ en un año calendario,22​ y en un mismo club;23​ máximo goleador de La Liga, la Supercopa de España, la Supercopa de Europa, y jugador no europeo con más goles en la Liga de Campeones de la UEFA, además de máximo goleador del Barcelona y de la Selección Argentina. Es el futbolista con más asistencias, desde que se tienen registros, en partidos oficiales.</p>

	<div class="container-fluid">
		<img class="about messi" src="/images/Messi_real_2020.png">
	  </div>
</body>
</html>