body{
    background-color: lightcyan;
    
}

.container-fluid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  
    background-color: transparent;
}

.parrafo{
    text-align: left;
    font-size: x-large;
}